<!--<div class="alert alert-app-level">-->
<!--    ALERT-->
<!--</div>-->
<header class="header header-6">
  FinDash
</header>
<!--<clr-tabs>-->
<!--    <clr-tab>-->
<!--        <button clrTabLink id="link1">Tab1</button>-->
<!--        <clr-tab-content id="content1" *clrIfActive>-->
<!--        <a class="navlink" routerLink="dashboard"><clr-icon shape="dashboard"></clr-icon>Dashboard</a>-->
<!--        </clr-tab-content>-->
<!--    </clr-tab>-->
<!--    <clr-tab>-->
<!--        <button clrTabLink>Tab2</button>-->
<!--        <clr-tab-content *clrIfActive="true">-->
<!--        ...-->
<!--        </clr-tab-content>-->
<!--    </clr-tab>-->
<!--</clr-tabs>-->
<nav class="subnav">
  <a 
    class="navlink" 
    routerLink="home">
    <clr-icon shape="home">
    </clr-icon>Home</a>
  <a 
    *ngIf="this._userService?.userData" 
    class="navlink" 
    routerLink="dashboard">
    <clr-icon shape="dashboard">
    </clr-icon>Dashboard</a>
  <a 
    *ngIf="!this._userService?.userData" 
    class="navlink" 
    routerLink="login">
    <clr-icon shape="login">
    </clr-icon>Login</a>
  <a 
    *ngIf="this._userService?.userData" 
    class="navlink" 
    (click)="this._userService.logout()">
    <clr-icon shape="logout">
    </clr-icon>Logout</a>  
  <a 
    class="navlink" 
    routerLink="register">
    <clr-icon shape="user">
    </clr-icon>Register</a>
</nav>
<div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
    <!--<nav class="sidenav">-->
    <!--    SIDENAV-->
    <!--</nav>-->
</div>
