<div class="clr-row clr-justify-content-center">
  <clr-dropdown class="clr-align-self-center">
      <button
        type="button"
        class="dropdown-toggle btn btn-outline-primary"
        clrDropdownTrigger>
          Search Options
        <clr-icon shape="caret down"></clr-icon>
      </button>
      <clr-dropdown-menu clrPosition="bottom-right" *clrIfOpen>
          <label class="dropdown-header">Search Type</label>
          <clr-dropdown>
            <button type="button" clrDropdownTrigger>Stock Time Series</button>
            <clr-dropdown-menu>
              <div *ngFor="let type of this._dataService.queryTypes.stocks">
                <button
                  clrDropdownItem
                  type="button"
                  (click)="this.assetChoice = 'stock'"
                  (click)="this._dataService.setQueryType(type)">
                  {{type}}
                </button>
              </div>
            </clr-dropdown-menu>
          </clr-dropdown>
          <clr-dropdown>
            <button type="button" clrDropdownTrigger >Cryptocurrencies</button>
            <clr-dropdown-menu>
              <div *ngFor="let type of this._dataService.queryTypes.cryptocurrencies">
                <button
                  clrDropdownItem
                  type="button"
                  (click)="this.assetChoice = 'crypto'"
                  (click)="this._dataService.setQueryType(type)">
                  {{type}}
                </button>
              </div>
            </clr-dropdown-menu>
          </clr-dropdown>
      </clr-dropdown-menu>
  </clr-dropdown>
</div>
<div class="clr-row clr-justify-content-center">
  <input
    clrInput
    [(ngModel)]="searchTerm"
    type="text"
    id="basic"
    placeholder="Search by stock symbol"
    class="clr-input"
    (keyup.enter)="onSearchTerm()">
</div>
<div class="clr-row clr-justify-content-center" *ngIf="isLoadingData">
    <span class="spinner ">
        Loading...
    </span>
</div>
<div class="clr-row clr-justify-content-center" *ngIf="!isLoadingData">
  <h2 class="clr-row">
    {{currentSymbol | uppercase}}
  </h2>
</div>
<div class="clr-row" *ngIf="!isLoadingData">
  <div class="clr-col-7">
      <div style="display: block; max-height:75%;">
        <canvas baseChart width="400" height="400"
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)">
        </canvas>
      </div>
  </div>
  <div class="clr-col-5 clr-align-self-start" *ngIf="this._dataService.assetType == 'stock'">
    <table class="table">
        <caption>Data for {{lastRefreshDate}}</caption>
        <thead>
            <tr>
                <th>Open</th>
                <th>High</th>
                <th>Low</th>
                <th>Close</th>
                <th>Volume</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{lastRefresh["1. open"]  | currency:'USD':'symbol':'1.2-2'}} </td>
                <td>{{lastRefresh["2. high"]  | currency:'USD':'symbol':'1.2-2'}} </td>
                <td>{{lastRefresh["3. low"]   | currency:'USD':'symbol':'1.2-2'}} </td>
                <td>{{lastRefresh["4. close"] | currency:'USD':'symbol':'1.2-2'}} </td>
                <td>{{lastRefresh["5. volume"]}} </td>
            </tr>
        </tbody>
    </table>
  </div>
  <div class="clr-col-5 clr-align-self-start" *ngIf="this._dataService.assetType == 'crypto'">
    <table class="table">
        <caption>Data for {{lastRefreshDate}}</caption>
        <thead>
            <tr>
                <th>Open</th>
                <th>High</th>
                <th>Low</th>
                <th>Close</th>
                <th>Volume</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{lastRefresh["1a. open (USD)"]  | currency:'USD':'symbol':'1.2-2'}} </td>
                <td>{{lastRefresh["2a. high (USD)"]  | currency:'USD':'symbol':'1.2-2'}} </td>
                <td>{{lastRefresh["3a. low (USD)"]   | currency:'USD':'symbol':'1.2-2'}} </td>
                <td>{{lastRefresh["4a. close (USD)"] | currency:'USD':'symbol':'1.2-2'}} </td>
                <td>{{lastRefresh["5. volume"]}} </td>
            </tr>
        </tbody>
    </table>
  </div>
</div>
