

<div class="clr-row clr-justify-content-center">
  <clr-dropdown class="clr-align-self-center">
      <button type="button" class="dropdown-toggle btn btn-link" clrDropdownTrigger>
      <!-- <button type="button" class="btn btn-outline-primary" clrDropdownTrigger> -->
          Search Options
          <clr-icon shape="caret down"></clr-icon>
      </button>
      <clr-dropdown-menu clrPosition="bottom-right" *clrIfOpen>
          <label class="dropdown-header">Search Type</label>
          <button type="button" clrDropdownItem>Action 1</button>
          <!-- <button type="button" disabled clrDropdownItem>Disabled Action</button> -->
          <div class="dropdown-divider"></div>
          <clr-dropdown *ngFor="let type of queryTypes">
            <button clrDropdownItem type="button" (click)="this._service.setQueryType(type)">{{type}}</button>

            <!-- <button type="button" clrDropdownTrigger>Link 1</button> -->
              <!-- <clr-dropdown-menu>
                  <button type="button" clrDropdownItem>Foo</button>
                  <clr-dropdown>
                      <button type="button" clrDropdownTrigger>Bar</button>
                      <clr-dropdown-menu clrPosition="bottom-right">
                          <button type="button" clrDropdownItem>Baz</button>
                      </clr-dropdown-menu>
                  </clr-dropdown>
              </clr-dropdown-menu> -->
          </clr-dropdown>
          <!-- <button type="button" clrDropdownItem>Link 2</button> -->
      </clr-dropdown-menu>
  </clr-dropdown>
</div>

<div class="clr-row clr-justify-content-center">
  <input
    clrInput
    [(ngModel)]="searchTerm"
    type="text"
    id="basic"
    placeholder="Search by stock symbol"
    class="clr-input"
    (keyup.enter)="onSearchTerm()">
</div>


  <div class="clr-row clr-justify-content-center" *ngIf="isLoadingData">
    <span class="spinner ">
        Loading...
    </span>
  </div>

  <!-- <div class="clr-justify-content-center"*ngIf="!isLoadingData"> -->
    <div class="clr-row clr-justify-content-center" *ngIf="!isLoadingData">
      <h2 class="clr-row">
        {{currentSymbol | uppercase}}
      </h2>
      <div class="col-md-5 clr-justify-content-center">
        <div style="display: block;">
          <canvas baseChart width="400" height="400"
                  [datasets]="lineChartData"
                  [labels]="lineChartLabels"
                  [options]="lineChartOptions"
                  [colors]="lineChartColors"
                  [legend]="lineChartLegend"
                  [chartType]="lineChartType"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)">
          </canvas>
        </div>
      </div>
    </div>
  <!-- </div> -->



<!--<div class="col-md-6" style="margin-bottom: 10px">-->
<!--  <table class="table table-responsive table-condensed">-->
<!--    <tr>-->
<!--      <th *ngFor="let label of lineChartLabels">{{label}}</th>-->
<!--    </tr>-->
<!--    <tr *ngFor="let d of lineChartData">-->
<!--      <td *ngFor="let label of lineChartLabels; let j=index">{{d && d.data[j]}}</td>-->
<!--    </tr>-->
<!--  </table>-->
  <!--<button (click)="randomize()">CLICK</button>-->
<!--</div>-->
