

<div class="clr-row clr-justify-content-center">
  <clr-dropdown class="clr-align-self-center">
      <button
        type="button"
        class="dropdown-toggle btn btn-outline-primary"
        clrDropdownTrigger>
          Search Options
          <clr-icon shape="caret down"></clr-icon>
      </button>
      <clr-dropdown-menu clrPosition="bottom-right" *clrIfOpen>
          <label class="dropdown-header">Search Type</label>

          <clr-dropdown>
            <button type="button" clrDropdownTrigger>Stock Time Series</button>
            <clr-dropdown-menu>
              <div *ngFor="let type of this._dataService.queryTypes.stocks">
                <button
                  clrDropdownItem
                  type="button"
                  (click)="this._dataService.setQueryType(type)">
                  {{type}}
                </button>
              </div>
            </clr-dropdown-menu>
          </clr-dropdown>

          <button type="button" clrDropdownItem>Cryptocurrencies</button>

      </clr-dropdown-menu>
  </clr-dropdown>
</div>
<div class="clr-row clr-justify-content-center">
  <input
    clrInput
    [(ngModel)]="searchTerm"
    type="text"
    id="basic"
    placeholder="Search by stock symbol"
    class="clr-input"
    (keyup.enter)="onSearchTerm()">
</div>
<div class="clr-row clr-justify-content-center" *ngIf="isLoadingData">
    <span class="spinner ">
        Loading...
    </span>
  </div>

  <!-- <div class="clr-justify-content-center"*ngIf="!isLoadingData"> -->
<div class="clr-row clr-justify-content-center" *ngIf="!isLoadingData">
  <h2 class="clr-row">
    {{currentSymbol | uppercase}}
  </h2>
</div>

<!-- <div class="clr-row clr-justify-content-center"> -->
<div class="clr-row" *ngIf="!isLoadingData">
  <!-- <table class="table table-responsive table-condensed clr-justify-content-end"> -->
  <div class="clr-col-7">
    <!-- <h2 class="clr-row">
      {{currentSymbol | uppercase}}
    </h2> -->

    <!-- <div class="col-md-7 clr-justify-content-center"> -->
      <div style="display: block; max-height:75%;">
        <canvas baseChart width="400" height="400"
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)">
        </canvas>
      </div>

  </div>
  <div class="clr-col-5 clr-align-self-start">
    <table class="table">
        <caption>Data for {{lastRefreshDate}}</caption>
        <thead>
            <tr>
                <th>Open</th>
                <th>High</th>
                <th>Low</th>
                <th>Close</th>
                <th>Volume</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{lastRefresh["1. open"]}}</td>
                <td>{{lastRefresh["2. high"]}}</td>
                <td>{{lastRefresh["3. low"]}}</td>
                <td>{{lastRefresh["4. close"]}}</td>
                <td>{{lastRefresh["5. volume"]}}</td>
            </tr>
        </tbody>
    </table>
  </div>
</div>
